<a [routerLink]="['/film', film.id]" class="content-cards__item">
    <div class="content-cards__item--img">
        <img [src]="film.image" [alt]="film.original">
    </div>
    <div class="content-cards__item--title">
        <h5>{{film.title}}</h5>
        <p>{{film.original}}</p>
    </div>
    <p class="content-cards__item--description">
        @for(genre of film.genre;track genre) {
        <span>{{genre}} </span>
        }
    </p>
    <p class="content-cards__item--raiting">
        {{film.raiting}}
    </p>
</a>